.App {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-color: #bef6a4;
  padding: 20px;
}

.content-wrapper {
  width: 100%;
  max-width: 800px;
  background-color: rgb(205, 232, 246);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}